.modal-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 50;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  background-color: rgba(17, 24, 39, 0.5);
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.modal-container {
  position: relative;
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
  max-width: 28rem;
  width: 100%;
  margin-left: 1rem;
  margin-right: 1rem;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  transform: translate(0, 0) rotate(0) skewX(0) skewY(0) scaleX(1) scaleY(1);
  max-height: calc(100vh - 3rem);
}

.modal-close-button {
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
  color: #9ca3af;
}

.modal-close-button:hover {
  color: #4b5563;
}

.modal-close-button:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.modal-close-icon {
  width: 1.5rem;
  height: 1.5rem;
}

.modal-header {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom-width: 1px;
  border-color: #e5e7eb;
}

.modal-title {
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 500;
  color: #111827;
}

.modal-body {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  overflow-y: auto;
}

.modal-body-with-title {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.modal-body-without-title {
  padding-top: 2rem;
  padding-bottom: 1rem;
}

body.modal-open {
  overflow: hidden;
}
